# {{ ansible_managed }}

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC5bpmSR+Jr03yComcGumCR9ZlLJZean0eP3oXwzzNr2Cipnre3JRQTRJXM2xdakn8ZnAK3l4vF5kaWsWSoQ8f4HV05hGIEw4c5qRB9Jzc9UEnqfiw5j8whwFoXj7HwEg/x06tZqVB/Qmg7vQboqvr655NQdibSE4x3Cgc0NKj5j2a2OXkJ5iUocDPx/U1am1hBMCW0E5ousAzHMvOi/ivq7qwlGg6GiS4QJkO/PPRIiqhtqy+XPehGdgfZRwyiyLbSZK65ZUeWayh0kg4NK6eViOc8U0+hkPG0hzY4CSEyNfNGYqN40JduwW7cU/oEs1Przl9kYBNoprv4c1tlTgk7 james@james-laptop
