---
- name: Install OpenSSH
  package:
    name: openssh-server
    state: present

- name: Configure OpenSSH
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0644'
    validate: /usr/sbin/sshd -t -f %s
  notify: Restart OpenSSH
